*, body {
    margin: 0;
    padding: 0;
}
.box {
    width: 400px;
    height: 350px;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 11px;
}
button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px 30px;
}